/*Log In*/
.image-container{
	background-image: url("aboutusbackground.jpg");
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-container{
	background-color:hsla(120,100%,50%,0.3);
	padding-top: 50px 30px;
}

.login-title{
	font-family: 'Lato', sans-serif;
}